* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100vh;
    background-color:#000000;
    background-image: url('https://www.transparenttextures.com/patterns/xv.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 8vh;
    color: #ccc;
    text-shadow: 0 1px 0 white;
  }
  .content{
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .main {
    width: 55vh;
    height: 70vh;
    padding: 50px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #6f3680;
    background-image: url('https://www.transparenttextures.com/patterns/diagmonds.png');
    box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 40px;
  }
  
  .main .input {
    width: 90%;
    padding: 8px 25px;
    border: 3px solid black;
    outline: none;
    margin: 15px 0;
  }
  .main .input:focus {
    border: 4px solid #00d5d0;
  }
  .btn,
  .input {
    font-size: 1.1rem;
    border-radius: 5px;
  }
  .main .btn {
    width: 90%;
    padding: 12px 0;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #9846a6;
    color: #fff;
    transition: 0.3s;
  }
  .main .code {
    margin: 10px 0;
    width: 90%;
    height: 90%;
  }
  
  .main .btn:hover {
    box-shadow: 0 0 0 1.5px #00d5d0;
    font-size: larger;
  }
  
  #toast {
    position: absolute;
    bottom: 0;
    justify-content: center;
    border-radius: 5px;
    padding: 10px 50px;
    color: white;
    background: black;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 10px 25px -10px #00d5d0;
    transition: 0.3s;
    font-size: 20px;
  }
  
  #toast.show {
    visibility: visible;
    opacity: 1;
    bottom: 50px;
  }

.lower{
  display: flex;
  justify-content: center;
  color: white;
}